<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Help & Support</title>
    <link rel="icon" href="{{ url_for('static', filename='utama/img/logo.png')}}" type="image/x-icon">
    <link rel="shortcut icon" href="{{ url_for('static', filename='utama/img/logo.png')}}" type="image/x-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/quill/quill.snow.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/quill/quill.bubble.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/remixicon/remixicon.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/simple-datatables/style.css')}}" rel="stylesheet">

  <link rel="stylesheet" href="{{ url_for('static', filename='swiper.css')}}">

  <!-- Template Main CSS File -->
  <link href=".{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/simple-line-icons.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Features-Centered-Icons-icons.css')}}">
    
</head>

<body style="background-color: #e3e3e3;">
<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="d-flex align-items-center justify-content-between">
    <i class="bi bi-list toggle-sidebar-btn"></i>
  </div>
    <div class="d-flex align-items-center justify-content-between">
      <a href="{{ url_for('home')}}" class="logo d-flex align-items-center" style="text-decoration: none;">
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <span class="d-none d-lg-block">VedulPro</span>
      </a>
    </div><!-- End Logo -->
  
  
  </header><!-- End Header -->
  
  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">
  
    <ul class="sidebar-nav" id="sidebar-nav">
        <a href="./index.html">
            <li class="nav-item">
                <a class="nav-link collapsed" href="{{ url_for('profile')}}" style="display: flex; align-items: center;">
                    <img src="https://png.pngtree.com/png-clipart/20221101/ourlarge/pngtree-passport-photo-cartoon-design-png-image_6405813.png" alt="Profil Icon" style="width: 20px; height: 20px; margin-right: 5px;">
                    <span>Profil Saya</span>
                </a>
            </li><!-- End Dashboard Nav -->
            
            
        </a>
      <li class="nav-item">
        <a class="nav-link collapsed" href="{{ url_for('home')}}">
          <i class="bi bi-house-fill"></i>
          <span>Home</span>
        </a>
      </li><!-- End Dashboard Nav -->
  
      <li class="nav-item">
        <a class="nav-link collapsed" href="{{ url_for('modul')}}" >
          <i class="bi bi-book-half"></i>
          <span>Modul</span><i></i>
        </a>
      </li>
      <!-- End Components Nav -->
  
      <li class="nav-item">
        <a class="nav-link collapsed" href="{{ url_for('riwayatpembelajaran')}}" >
          <i class="bi bi-journal-bookmark-fill"></i>
          <span>Riwayat Pembelajaran</span><i></i>
        </a>
      </li><!-- End Forms Nav -->
  
      <li class="nav-item">
        <a class="nav-link collapsed" href="{{ url_for('helpandsupport')}}">
          <i class="bi bi-question-circle"></i>
  
          </i><span>Help & Supprot</span><i></i>
        </a>
      </li><!-- End Tables Nav -->
  
      <br><br><br><br><br><br><br><br><br>
  
      <button class="btn" style="border: 2px solid; color: #616161; border-radius: 12px; margin: 20px;"><a href="{{ url_for('index')}}" style="color: #616161;"><i class="bi bi-box-arrow-right"></i>   Logout</a></button>
  </aside><!-- End Sidebar-->

  <main id="main" class="main">
    <div class="list-item" style="background-color: #fff; border-radius: 10px; padding: 10px;">
        <div class="list-item" style="background-color: #f1eded; border-radius: 10px; padding:  10px; margin: 20px;">
            <h4 style="color: #000; font-weight: bold; margin-left: 20px;">Error Logs</h4>
            <p style="margin-left: 20px; color: #616161;">Your bots API error logs</p>
        </div>
        <div class="error" style="margin: 30px;">
            <p>Error</p>
            <br>
            <p style="font-size: 20px;"><b>Error Logs</b></p>
            <br>
            <br>

        </div>
      </div>

</main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      Copyright &copy; <strong><span>Kelompok 24A WMK</span></strong> 2023
    </div>
    <div class="credits">
    </div>
  </footer>
  <!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/lottie-player.min.js')}}"></script>
</body>
  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='vendor/apexcharts/apexcharts.min.js')}}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{ url_for('static', filename='vendor/chart.js/chart.umd.js')}}"></script>
  <script src="{{ url_for('static', filename='vendor/echarts/echarts.min.js')}}"></script>
  <script src="{{ url_for('static', filename='vendor/quill/quill.min.js')}}"></script>
  <script src="{{ url_for('static', filename='vendor/simple-datatables/simple-datatables.js')}}"></script>
  <script src="{{ url_for('static', filename='vendor/tinymce/tinymce.min.js')}}"></script>
  <script src="{{ url_for('static', filename='vendor/php-email-form/validate.js')}}"></script>

  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='js/main.js')}}"></script>
</html>